body {
  color: #003049;
  background-color: #780000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
  color: #003049;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00B4D8;
  text-decoration: none;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container {
  width: 700px;
  padding: 5px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  background-color: #780000;
}

.card {
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
}

div {
  display: block;
  background-color: #FDF0D5;
}

ul {
    display: block;
    padding-left: 0px;
}

li {
  display: inline;
  list-style: none;
  padding: 0;
  padding: 20px;
}

#button {
  border-radius: 3px;
}

/* responsive  */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
